[Unit]
Description=Cuberite Server
After=local-fs.target network.target

[Service]
Type=forking
Environment=NAME=cuberite
Environment=GAME=cuberite
ExecStart=/usr/bin/minecraftd.sh start
ExecStop=/usr/bin/minecraftd.sh stop
User=cuberite
Group=cuberite

[Install]
WantedBy=multi-user.target
