# Ignore final packages, download content etc.
*.tar*
*.part
*.deb
*.rpm
*.jar
*.tgz
*.zip

# Signed sources
*.asc
*.sig

# Ignore subdirectories, e.g. src, pkg and git-clone dirs
*/*/

# Backup files
*~
*.bak

# Temporary Ignore List
linux-apparmor/
playonlinux-git/
minecraft/
mathematica/
