pkgbase = arma3-server
	pkgdesc = Steam Command Line Tools
	pkgver = latest
	pkgrel = 1
	url = https://community.bistudio.com/wiki/Arma_3_Dedicated_Server
	install = arma3.install
	arch = i686
	arch = x86_64
	license = custom
	depends = steamcmd
	optdepends = tar: needed in order to create server backups
	backup = etc/conf.d/arma3d.conf
	source = arma3d.sh
	source = arma3d-backup.service
	source = arma3d-backup.timer
	source = arma3d.service
	source = arma3d.conf
	source = server.cfg
	md5sums = dfa65a20189bf9470b0849826a9041c0
	md5sums = 9b10d6c9c6cfc631ca6b69b184e3a303
	md5sums = 65881fe56dcf7dcd4a8b412994beaa46
	md5sums = 2262cc63b8e3f0dde7cd50363d382541
	md5sums = 179d238b1ceaa580fdf524391a26d01f
	md5sums = 181bebe43a9319101cdcd4884a3b2751

pkgname = arma3-server
