[Unit]
Description=ArmA3 Server Backup
After=local-fs.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/arma3d.conf
ExecStart=/usr/bin/arma3d backup
USER=$GAME_USER

[Install]
WantedBy=multi-user.target
