[Unit]
Description=ArmA3 Server Backup
After=local-fs.target

[Service]
Type=forking
ExecStart=/usr/bin/arma3d backup
User=arma

[Install]
WantedBy=multi-user.target
