pkgbase = spigot
	pkgdesc = High performance Minecraft server implementation (with screen session handling and automated backups)
	pkgver = 1.8.8
	pkgrel = 1
	url = https://www.spigotmc.org/
	install = spigot.install
	arch = any
	license = LGPL
	makedepends = java-environment
	makedepends = git
	depends = java-runtime-headless
	depends = screen
	depends = sudo
	depends = bash
	optdepends = tar: needed in order to create world backups
	provides = minecraft-server
	source = https://hub.spigotmc.org/jenkins/job/BuildTools/lastSuccessfulBuild/artifact/target/BuildTools.jar
	source = spigot-backup.service
	source = spigot-backup.timer
	source = spigot.service
	source = spigot.sh
	md5sums = SKIP
	md5sums = fd17202ba0bb7796439f0b2f6bc53be4
	md5sums = 774cd44ed90f6be51d368533cf74d7c2
	md5sums = d9ca80f88da4145acf339458757cbd24
	md5sums = 17fede1d02736e0ee87d0b667cdf1525

pkgname = spigot

