pkgbase = steamcmd
	pkgdesc = Steam Command Line Tools
	pkgver = latest
	pkgrel = 3
	url = https://developer.valvesoftware.com/wiki/SteamCMD#Linux
	install = steamcmd.install
	arch = i686
	arch = x86_64
	license = custom
	depends = lib32-gcc-libs
	source = http://media.steampowered.com/installer/steamcmd_linux.tar.gz
	md5sums = 09e3f75c1ab5a501945c8c8b10c7f50e

pkgname = steamcmd
